.short_info_box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #0855A0;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 95%;
    perspective: 1000px;
  }
  .active {
    transform: translateZ(170px);
    position: relative;
    z-index: 1;
  }
  .cards_box {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card {
    width: min(350px, 80%);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.373);
    cursor: pointer;
    overflow: hidden;
    border: 2px solid #197cde71;
    transition: transform 0.5s;
  }
  
  .card::after {
    position: relative;
    content: attr(data-title);
    width: 90%;
    height: 30px;
    bottom: 5%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .move_card {
    width: fit-content;
    height: fit-content;
    font-size: 65px;
    
    font-weight: bold;
    color: #f7aa5f;
    border: none;
    background: none;
    cursor: pointer;
  }
  