.hours_box{
    height: 100dvh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 50% 40%;
}
.hours_box li{
    list-style: none;
}
.hours_box > main{
    width: 100%;
    height: 100%;
    position: relative;
}
.days_open{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(8,1fr);
    padding: 3%;
    height: 100%;
    width: auto;
}
.days_open > h2 {
    margin-inline: auto;
}
.days_open > div{
    width: max(30%,300px);
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hours_day > p{
    width: fit-content;
    height: fit-content;
}
.get_in{
    width: min(260px,85%);
    margin: auto;
    height: 90%;
    font-size:  x-large;
    text-transform: uppercase;
    background-color: #f7aa5f;
    border-radius:  10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}