.spots_box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot_card{
    width: min(500px,90%);
    height: 90%;
    outline: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 80%;
    background: #0855A0;
}
.spot_card > h3 {
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.image_card{
    width: 90%;
    height: 95%;
    outline: 2px solid #abababc0;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}
.options_selected{
    height: 60%;
    width: min(200px,70%);
    margin-inline: auto;
    display: flex;
    position: relative;
    justify-content: initial;
    overflow: hidden;
}
.options_selected::after{
    content: '\25BC';
    width: 22%;
    height: 100%;
    position: absolute;
    right: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    pointer-events: none;
   background-color:#D6DBDD;

}
.options_selected select{
    width: 100%;
    height: 100%;
    appearance: none;
   box-shadow: none;
   border: none;
   text-indent: 5%;
   background-color:#D6DBDD;
   font-size: 18px;
}

.options_selected select::-ms-expand{
    display: none;
}
.options_selected select:focus{
    outline: none;
}