.spots_info_box{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 50%;
}
.spots_info_box li{
    list-style: none;
}
.image_content_spot{
    width: auto;
    height: 100%;
}
.image_content_spot > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.spots_travel{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 4%;
    background:  white ;
}
.spots_travel p {
    font-size: larger;
}
.spots_travel > h2 {
    margin-inline: auto;
}