.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 20% 70%;
  min-height: 100svh;
  overflow: hidden;
}
.login_form_box{
    height: 90%;
    width: min(500px,90%);
    display:  grid;
    border-radius: 25px;
    border: 4px solid #0854a0be;
    overflow:hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 75% 15%;
    background: linear-gradient(180deg,#0855A0,#197bde);
    box-shadow: 0px 6px 5px #00000055;
    margin: auto;
}
.nav_bar_box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg,#0855A0,#197bde);
}
.nav_bar_box > ul {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_bar_box >ul a{
  color: white;
  text-decoration: none;
}
.main li {
  list-style: none;
}
.title_app{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: x-large;
}
.form_to_get_in{
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0854a059;
  display: grid;
  place-items: center;
}
.form_to_get_in > div{
  width: 80%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_nick{
  width: 80%;
  height: fit-content;
  font-size: larger;
}
.get_data_input{
  width: 80%;
  height: 30px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  text-indent: 10px;
  background-color: #cef8f56d;
}
.get_data_input:focus{
  outline: none;
  background: transparent;
}
.btn_check_user{
  width: fit-content;
  height: fit-content;
  padding: 3px 5px;
  border: none;
  font-size: x-large;
  background: linear-gradient(180deg,#fb932c,#f7aa5f);
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.extra_options{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.extra_options > button{
  width: fit-content;
  height: fit-content;
  color: black;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Login form Styles  */
.content_form{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0855A0;
}
.container{
  height: 80%;
  padding-top: 10px;
  width: min(450px,90%);
  display: grid;
  background-color:  #D6DBDD ;
  grid-template-rows: repeat(7,1fr);
  grid-template-columns: 1fr;
  border-radius: 10px;
  font-size: 17px;
  box-shadow: 0px 6px 5px #00000055;
}

.input_content{
  height: 100%;
  width: 76%;
  margin: auto;
  display: flex;
  flex-direction: column;    
}
.name_alert{
  --activation:hidden;
}
.name_alert::after{
  visibility: var(--activation);
  content: '* nombre invalido';
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: auto;
  color: red;
  position: absolute;
  right: 0;
  outline: 2px solid red;
  
}
.lastname_alert{
  --activation:hidden;
}
.lastname_alert::after{
  visibility: var(--activation);
  content: 'apellido invalido';
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: auto;
  color: red;
  position: absolute;
  right: 0;
  outline: 2px solid red;
  
}
.adress_alert{
  --activation:hidden;
}
.adress_alert::after{
  visibility: var(--activation);
  content: 'direccion no valida';
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: auto;
  color: red;
  position: absolute;
  right: 0;
  outline: 2px solid red;
  
}
.phone_alert{
  --activation:hidden;
}
.phone_alert::after{
  visibility: var(--activation);
  content: 'telefono no valido';
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: auto;
  color: red;
  position: absolute;
  right: 0;
  outline: 2px solid red;
  
}
.email_alert{
  --activation:hidden;
}
.email_alert::after{
  visibility: var(--activation);
  content: 'email no valido';
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: auto;
  color: red;
  position: absolute;
  right: 0;
  outline: 2px solid red;
  
}
.pass_alert{
  --activation:hidden;
}
.pass_alert::after{
  visibility: var(--activation);
  content: '9 a 10 caracteres';
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: auto;
  color: red;
  position: absolute;
  right: 0;
  outline: 2px solid red;
  
}
.input_content > label{
  margin-inline-end: auto;
  width: 99%;
  position: relative;
  padding-bottom: 1%;
}
.personal_data{
  height: 30px;
  width: 100%;
  border: white;
  border-radius: 5px;
  text-indent: 2%;
  position:relative;
}
.personal_data:focus{
  outline: none;
  text-indent: 2%;
}

.send_data{
  height: 100%;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(180deg,#fb932c,#f7aa5f);
}
.boat_start{
  display:  flex;
  justify-content: center;
  height: 40%;
  margin: auto;
  width: 76%;
}

/* Login form Styles  */
