.number_box{
    display: grid;
    width: 100vw;
    height: 100vh;
    background:  #0855A0 ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.number_types{
    width: min(600px, 85%);
    margin: auto;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
}

.categorie_phone{
    display: grid;
    width: 100%;
    height: 80%;
    margin: auto;
    font-size: xx-large;
    border-bottom: 2px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
}
.copy_number{
    margin-left:10% ;
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-size: cover;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.name_phone{
    margin-inline:auto ;
    color: white;

    
}

.copy_number:link{
    text-decoration: none;
    color: white;
}
.info_number{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}